body {
    margin: 0;
    background-color: rgba(250, 253, 253, 0.986);
}
a {
    text-decoration: none;
}
/* header */
header {
    height: 65px;
    width: 100%;
    background-color: white;
    /* Ubah position ke fixed, dan top ke 0 */
    position: fixed;
    top: 0;
	opacity: 0.8;
    
    /* Ubah z-index ke 10 */
    z-index: 10;
  }
  
  .logo {
    width: 65px;
    margin-top: 0 auto;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    background-color: rgba(252, 255, 255, 0.966);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(54, 51, 51, 0.308);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: black;
    display: block;
  }
  /* Akhir header */

    /*awal banner */
.top-wrapper{
    background-color: #46b6fe;
    background-image: url("./gambar/bg-banner.png");
    background-size: cover;
    padding: 150px 0 180px 50px;
}

.top-wrapper .container{
    height: 200px;
} 
.top-wrapper h1{
    font-family: 'Kosugi', sans-serif;
    color: #00000f;
    line-height: 20px;
}

.container h1{
	font-size:70px;
}
  
.top-wrapper h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin-top: 10px;
    line-height: 10px;
    color: #00000f;
}

.container h2 {
    font-size: 20px;
}
  
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
} 
.btn:hover {
    opacity: 1;
}
.btn-wrapper h2{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
   font-weight: normal;
   margin-top: 30px;
   color: #00000f; 
   float: left; 
}
.btn-wrapper {
   margin: 20px 0;
} 
.signup {
   float: left;
   background-color: #3fbefe;
   margin: 15px;
} 
.action {
   background-color: #feb83f;
   margin: 15px;
}
    /*akhir banner */

    /*awal main*/
.product {
    padding: 30px 0 30px;
  /*  height: 580px; */
    box-sizing: border-box;
 /*   border: 1px solid black; */
}
.container {
   /* max-width: 1170px; */
    max-width: 80%;
    margin: 0 auto;
}
.top-product h2{
    font-family: 'Kosugi', sans-serif;
    font-weight: normal;
    font-size: 40px;
}
.card {
    width: 24%;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgba(179, 224, 227, 0.8);
    border-radius: 4px;
    padding-top: 15px;
	background-color: white;
}
.card:hover {
    position: relative;
    top: -1px;
    box-shadow: 1px 1px #c5c5c5;
}
.card:active {
    position: relative;
    top: 1px;
    box-shadow: none;
}

.description{
    padding: 10px;
}

.description p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 8px;
    text-align: justify;
}
.picture {
    text-align: center;
}
.picture img {
    width: 200px;
}
.button-detail {
    background-color: #46b6fe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    margin-left: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    opacity: 0.8;
}
.button-detail a {
    text-decoration: none;
    color: white;
}
.button-detail:hover {
    opacity: 1;
}
/*Akhir Main*/

/* Awal Message */
 .message{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00000f;
    line-height: 40px;
    font-size: 25px;
    margin: 20px 0;
 }

 .message p{
    margin: 0;
    padding: o;
 }

 .message span{
    font-size: 35px;
    font-weight: bold;
 }
/* Akhir Message */

/* Awal formulir/format order */

.order-form{
 /*   border: 1px solid black; */
    padding: 30px 0 30px;
}

.container-form{
    background-color: rgba(179, 224, 227, 0.3);
    margin: 0 auto;
    width: 75%;
    border: 2px solid rgb(179, 224, 227);
    border-radius: 20px;
}

.container-form:hover{
    position: relative;
    top: -1px;
    box-shadow: 1px 1px #c5c5c5;
    background-color: rgba(179, 224, 227, 0.5);
}

.container h3{
    text-align: center;
    padding: 8px 0 10px 0;
    font-family: 'Kosugi', sans-serif;
    font-weight: normal;
    font-size: 25px;
   /* border: 1px solid black; */
    margin-bottom: 5px;
}

.form{
    width: 33.1%;
    float: left;
	font-size:12px;
	text-align: left;
   /* border: 1px solid red; */
}

.form-content{
    width: 100%;
 /*   border: 1px solid black; */
    display: inline-block;
    margin: 0 25px;
}

.form-content p{
    margin: 5px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /* border: 1px solid black; */
}

input, textarea {
    width: 80%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #939393;
    border-radius: 5px;
  }

input, textarea:hover{
    cursor: text;
}

.buyer{
    padding: 0;
    margin-bottom: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
	text-align: center;
}

.checkout{
    text-align: center;
    padding: 25px;
}

.checkout input{
    background-color:#feb83f;
  /*  background-color:rgba(70, 182, 254, 0.8); */
    width: 150px;
    font-family:  'Kosugi', sans-serif;
    font-size: 15px;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px #c5c5c5;
}

.checkout input:hover{
    position: relative;
    top:-3px;
    box-shadow: 0 3px #c5c5c5;
    cursor: pointer;
}

.checkout input:active{
    top: 2px;
    box-shadow: 0 1px #c5c5c5;
}

/* Ini akhir formulir/format order */

/* awal footer */
footer{
    border: 1px solid black;
    padding: 30px 0;
 /*   background-color: #e2e7eb; */
    height: 50px;
}
footer {
  /*      background-color: #e2e7eb; */
	background-color: rgba(179, 224, 227, 0.8);
        color: #817a7a;
        height: 120px;
        padding: 40px;
      }
      
      .footer-logo {
        float: left;
        font-size: 25px;
      }
      
      .footer-list {
        float: right;
      }
      
      .footer-list li {
        list-style: none;
        padding-bottom: 10px;
      }
      .footer-list a {
        color: #817a7a;
      }

footer{
	border: none;
	margin-top: 150px;
}

  /* akhir footer */

 
